{% capture append = "oxidBlock_content" %}
<h1 class="page-header">{{ translate({ ident: "OEMODULETEMPLATE_GREETING_UPDATE_TITLE" }) }}</h1>
{{ translate({ ident: "OEMODULETEMPLATE_GREETING_UPDATE_COUNT" }) }} {{ oemt_greeting_counter }}
<br>
<form action="{{ oViewConf.getSelfActionLink() }}" name="OxsampleDoSomethingAction" method="post" role="form">
    <div class="hidden">
        {{ oViewConf.getHiddenSid()|raw }}
        <input type="hidden" name="cl" value="oemt_greeting">
        <input type="hidden" name="fnc" value="updateGreeting">
    </div>
    <div>
        <input type="text" class="editinput" maxlength="254" id="oemt_greeting_input" name="oemt_greeting" value="{{ oemt_greeting }}">
        <button class="btn btn-primary submitButton largeButton" type="submit" id="oemtgreeting_submit" class="submitButton">{{ translate({ ident: "SUBMIT" }) }}</button>
    </div>
</form>
<br>
{% endcapture %}

{% include "layout/page.html.twig" %}
