{% extends 'page/shop/start.html.twig' %}
{% block start_newest_articles %}
    <p>
        <!-- If the module is active, the template block will be extended and this line is shown -->
        {{ translate({ ident: "OEMODULETEMPLATE_GREETING" }) }}
        <!-- And in case we have the module setting and a logged in user, we might see some additional text-->
        {{ oView.getOemtGreeting() }}
        <!-- Allow logged in user to change his greeting text -->
        {% if oView.canUpdateOemtGreeting() %}
            <!-- Use seo_url function to output SEO style url -->
            <a id='oemt_update_greeting' class="btn btn-primary" href="{{ seo_url({ ident: oViewConf.getSelfLink() ~ "cl=oemt_greeting" }) }}">{{ translate({ ident: "OEMODULETEMPLATE_GREETING_UPDATE" }) }}</a>
        {% endif %}
    </p>

    {{ parent() }}
{% endblock %}
