{% include "headitem.html.twig" with {title: "GENERAL_ADMIN_TITLE"|translate} %}

<form name="transfer" id="transfer" action="{{ oViewConf.getSelfLink() }}" method="post">
    {{ oViewConf.getHiddenSid()|raw }}
    <input type="hidden" name="oxid" value="{{ oxid }}">
    <input type="hidden" name="cl" value="oemt_admin_greeting">
</form>

<h1 class="page-header">{{ translate({ ident: "OEMODULETEMPLATE_GREETING_TITLE" }) }}</h1>

{% if greeting_message %}
    <div>{{ translate({ ident: "OEMODULETEMPLATE_GREETING_MESSAGE_TEXT" }) }} {{ greeting_message }}</div>
{% else %}
    <div>{{ translate({ ident: "OEMODULETEMPLATE_NO_GREETING_TEXT" }) }}</div>
{% endif %}

{% include "bottomnaviitem.html.twig" %}
{% include "bottomitem.html.twig" %}
